<nav class="navbar">
  <ul>
    <li>Mini Message Board</li>
    <div class="nav-right">
      <li><a href="/">Messages</a></li>
      <li><a href="/new">New Message</a></li>
    </div>
  </ul>
</nav>
